<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

    <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <!-- Slide 1-->
            <div class="item active">
                <img src="https://farm8.staticflickr.com/7203/13159698144_1d44b782dd_o.jpg" width="2470" height="988" alt="9360190815_c7f5843590_o"></a>
                <div class="carousel-caption">
              <h1><b>VIETNAM</b></h1>
              <h2><p>TEXT HOLDER</p></h2>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign Up</a></p>
            </div>
          </div>

            <!-- Slide 2-->
              <div class="item">
                  <img src="https://farm4.staticflickr.com/3800/13159698504_e04dfbb479_o.jpg" width="2470" height="988" alt="4290747095_69fe65e04c_o"></a>
                  <div class="carousel-caption">
                      <h1>CHINA</h1>
                      <p>TEXT HOLDER</p>
                  </div>
              </div>

          <!-- Slide 3-->
            <div class="item">
                <img src="https://farm8.staticflickr.com/7150/13159698514_b7e012c8ea_o.jpg" width="2470" height="988" alt="4290746163_9521d4791e_o"></a>
                <div class="carousel-caption">
                    <h1>SWITZERLAND</h1>
                    <p>TEXT HOLDER</p>
                </div>
            </div>
          </div>



  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
